@media (max-width: 1080px){
  #page-home{
    background-position-x: 100vw;
  }

  #page-home .content{
    /* align-items: center; */
    text-align: center;
  }

  /* #page-home header a.footer{
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  } */
  
  #page-home main{
    align-items: center;
    align-self: center;
  }
  
}
@media (max-width: 930px){
  #page-search-results .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px){
  #page-create-point form .field-group{
    flex-direction: column;
  }

  #page-create-point form .field-group .field + .field{
    margin-left: 0;
  }

  #page-create-point .items-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 630px){
  #page-home header{
    position: fixed;
    top: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    width: 100vw;
    height: 80px;
    margin-top: 0;
    justify-content: space-around;
    align-self: center;
  }
  #page-home header a.footer{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  #page-home header a.footer p{
    display: none;
  }
  #page-home header a.footer span{
    background-image: url(/assets/white-log-in.svg);
  }
  
  #page-home main{
    flex: none;
    margin-top: 100px;
    max-width: 90vw;
  }
  #page-home main h1{
    font-size: 2.75rem;
  }


  #page-search-results .cards {
    grid-template-columns: 1fr;
  }
  #page-search-results .card{
    max-width: 90vw;
  }
}

@media (max-width: 440px){
  .hide-text p{
    display: none;
  }
  #page-search-results .hide-text span,
  #page-create-point .hide-text span{
    background-image: url(../assets/arrow-left2.svg);
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 350px){
  #modal .header{
    margin-bottom: 8px;
  }
}

@media (min-width: 1700px){
  #page-home {
    background-position-x: 45vw;

  }

}

@media (max-height: 760px){
  #page-home{
    background-position-y: 15vh ;
  
  }
}
@media (min-height: 900px){
  #page-home{
    background-position-y: center ;
    
  }
  #page-home main{
    margin-bottom: 150px;
  }
}